<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <ion-item class="list card" ng-repeat="product in products">

      <div class="item item-avatar">
        <img src="avatar.jpg">
        <h2>{{product.name}}</h2>
        <p>{{product.tagline}}</p>
      </div>

      <div class="item item-image">
        <img style="height: 260px; width: 260px" src="{{product.image}}">
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-cash"></i>
        ${{product.price}}
      </a>

    </ion-item>
  </ion-content>
</ion-view>
