/* Empty. Add your own CSS if you like */

.popup-container .popup {
	border-radius: 5%;
	width: 70%;
	background-color: white;
}

.panel-body .loginForm {
	border: none;
}

.loginForm .loginInput {
	padding-left: 20px;
}

